.board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    place-content: center;
    max-width: 640px;
    max-height: 640px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
