.tile {
    aspect-ratio: 1;
    display: grid;
    place-content: center;
}

.white-tile {
    background-color: #eeeed2;
}

.black-tile {
    background-color: #769656;
}

.piece {
    width: 60px;
    height: 60px;
}

.piece:hover {
    cursor: grab;
}

.piece:active {
    cursor: grabbing;
}
